/*Variable for All Colors*/
:root{ 
    --primay:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

body{
    background-color: #ACDDF1;
}

.wrapper{
    margin: 70px 50px;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-bottom: 40px;
}

/* Nav Section Start */
.nav{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.nav > *{
    flex:1
}

.nav-left img{
    width: 120px;
    height: 70px;
    display: block;
    align-items: left;
}

.nav-right{
    display: inline;
}

.nav-right a{
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.nav-btn{
    color: #ED6D2E;
    border-radius: 30px;
    border-color: #ED6D2E;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    width: 100px;
    height: 50px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.nav-btn:hover{
    color: #FFFFFF;
    background: #ED6D2E;
}

.wrapper{
    position: relative;
}

.hamberger{
     position: absolute;
     top: 40px;
     right: 40px;
     z-index: 11;
     background: var(--pure);
     border: none;
     outline: none;
     cursor: pointer;
     display: none;
}

.hamberger img{
    width: 30px;
    height: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-tranform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-tranform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 30px;
    height: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

/* Nav Section End */

/* Main Section Start */
.main{
    display: flex;
}

.main>*{
    flex: 1;
}

.main-left{
    margin-top: 45px;
    padding-right: 80px;
}

.part1 h2{
    color: #254CAC;
    font-size: 22px;
    font-family: 'Secular One', sans-serif;
}

.part1 h1{
    color: #C1D230;
    font-size: 54px;
    margin-bottom: 25px;
    font-family: 'Secular One', sans-serif;
}

.part1 p{
    color: #254CAC;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.main-btn{
    width: 120px;
    height: 50px;
    color: #FFFFFF;
    background: #ED6D2E;
    border-radius: 30px;
    border-color: #ED6D2E;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.main-btn:hover{
    color: #ED6D2E;
    background: #FFFFFF;
}

.part2{
    color: #254CAC;
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.part2>*{
    flex: 1;
}

.part2 img{
    width: 60px;
    height: 60px;
    display: block;
    padding: 10px;
    background-image: none;
}

.imgs{
    width: 60px;
    height: 60px;
    background-color: skyblue;
    border-radius: 20px;
    margin: auto;
}

.main-right img{
    width: 400px;
    height: 500px;
}
/* Main Section End */

/* Footer Section Start */
.footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-bottom: 40px;
}
/* Footer Section End */


/* Media Query Start */
@media (max-width: 950px){
    
    #main-nav{
        display: none;
    }

    .hamberger{
        display: block;
    }

    .main{
        flex-direction: column;
    }

    .main-left {
        padding-right: 50px;
    }
    
    .main-right img{
        width: 400px;
        height: 400px;
        display: block;
        margin: 50px auto;
    }
}

@media (max-width: 576px){

    .part1 h1{
        font-size: 30px;
        margin-bottom: 25px;
        font-family: 'Secular One', sans-serif;
    }

    .main-left {
        padding-right: 20px;
    }

    .main-right img{
        width: 200px;
        height: 200px;
        display: block;
        margin: 50px auto;
    }
}

/* Media Query End */
